.sc-chat-window {
  max-height: 525px;
  z-index: 4;
}
.sc-header--img {
  width: 50px;
  padding: 0px;
}
.sc-message--avatar {
  display: none;
}
.sc-user-input--file-icon-wrapper {
  display: none;
}
.sc-message-list {
  padding-top: 10px;
}
.sc-message--emoji {
  padding: 6px;
}
.sc-header {
  min-height: 65px;
}
